* {
	font-family: cursive;
	font-size: 18px;
	text-shadow: 1px 1px 0 black;
}

body {
	background-color: #BBB;
}
h1 {
	text-align: center;
	font-size: 32px;
	color: #489648;
	border: 16px solid olive;
}

h2 {
	font-size: 24px;
	color: #964896;
	text-decoration: underline;
}

img {
	width: 100%;
	height: 80px;
	margin: auto;
}


strong {
	font-weight: bold;
}

em {
	text-decoration: italic;
}

#pingu {
	width: 500px;
	height: 400px;
	vertical-align: middle;
	border: 8px solid orange;
	border-radius: 238px; /* Moitié des 476px de largeur du GIF */
}